<%- include('../partials/header') %>

<form action="/applications/<%= applicationID %>?_method=PUT" class="col s12 inputForm" method="POST">
    <div class="row">
        <div class="input-field"><label>Company Name</label>
            <input type="text" name="companyName" placeholder="Name Of Company" required
                value="<%= application.companyName %>"></div>
    </div>
    <div class="row">
        <div class="input-field"><label>Position</label>
            <input type="text" name="jobTitle" placeholder="Position Desired" required
                value="<%= application.jobTitle %>"></div>
    </div>
    <div class="row">
        <div class="input-field"><label>Name of Contact in Company</label>
            <input type="text" name="contactName" placeholder="Contact Name" value="<%= application.contactName %>">
        </div>
    </div>
    <div class="row">
    <div class="input-field  col s6"><label class="active">Date Applied</label>
            <input type="datetime-local" name="dateApplied" placeholder="Date of Application"
                value="<%= application.dateApplied ? application.dateApplied.getFullYear() +'-'+ ('0' + (application.dateApplied.getMonth()+1)).slice(-2) +'-'+ ('0' + (application.dateApplied.getDate())).slice(-2) +'T'+ ('0' + (application.dateApplied.getHours())).slice(-2) + ':' + ('0' + (application.dateApplied.getMinutes())).slice(-2) +':00.000' : '' %>">
        </div>
        <div class="input-field  col s6"><label class="active">Interview Date</label>
            <input type="datetime-local" name="interviewDate" placeholder="Date of Interview Scheduled"
                value="<%= application.interviewDate ? application.interviewDate.getFullYear() +'-'+ ('0' + (application.interviewDate.getMonth()+1)).slice(-2) +'-'+ ('0' + (application.interviewDate.getDate())).slice(-2) +'T'+ ('0' + (application.interviewDate.getHours())).slice(-2) + ':' + ('0' + (application.interviewDate.getMinutes())).slice(-2) +':00.000' : '' %>">
        </div>
    </div>
    <div class="row">
        <div class="input-field" ><label>Notes</label>
            <input type="text" name="notes" placeholder="Write any important details here" value="<%= application.notes %>"></div>
    </div>
    <button type="submit" class="btn white-text">Update Application</button>
    <form action="/applications" method="get">
        <button type="submit" class="btn">Cancel</button>
    </form>
</form>


<%- include('../partials/footer') %>